<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Quick Traineer</title>

    <link rel="stylesheet" type="text/css" href="../styles/theme.css">
    <link rel="stylesheet" type="text/css" href="../styles/theme_config.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../scripts/script.js"></script>

</head>
<body>
    <div id="header">
        <h1 class="title">Quick Trainner</h1>
        <p class="text1">This is my first page.</p>
    </div >
    <div id="content">
      <div class="control-group">
        <ul class="buttons">
          <li class="li_rdn">
            <input id="rdbtn1" type="radio" name="radio" class="radiobtn"/>
            <span id="span_1"></span>
            <label for="rdbtn1">Azul</label>
          </li>
          <li class="li_rdn">
            <input id="rdbtn2" type="radio" name="radio" class="radiobtn"/>
            <span id="span_2"></span>
            <label for="rdbtn2">Rojo</label>
          </li>
          <li class="li_rdn">
            <input id="rdbtn3" type="radio" name="radio" class="radiobtn"/>
            <span id="span_3"></span>
            <label for="rdbtn3">Verde</label>
          <li>
      </div>
        <div>
        <button class="btn_return" onclick="history.back()">Regresar</button>
        <button id="btn_save" onclick="colorSelect()">Guardar</button>
      </div>
    </div>
        <div id="footer">
            <ul>
              <li><a href="faq.html" class="bar_option">Preguntas frecuentes</a></li>
              <li><a href="contact.html" class="bar_option">Contáctanos</a></li>
              <li><a href="homepage.html" class="bar_option">Inicio</a></li>
            </ul>
        </div>
</body>
</html>
