<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Quick Traineer</title>

    <link rel="stylesheet" type="text/css" href="../styles/theme.css">

</head>
<body>
<div id="header">
        <h1 class="title">Quick Trainner</h1>
        <p class="text1">This is my first page.</p>
    </div >
        <div id="content">
          <p>Si tiene dudas acerca de una función o problemas con el funcionamiento Quick Traineer puede escribirnos al correo: . <br>También consultar el manual de usuario o ver la sección de preguntas frecuentes para solucionar el problema.</p>
        </div>
        <div id="footer">
            <ul>
              <li><a href="faq.html" class="bar_option">Preguntas frecuentes</a></li>
              <li><a href="contact.html" class="bar_option">Contáctanos</a></li>
              <li><a href="homepage.html" class="bar_option">Inicio</a></li>
            </ul>
            </div>
        </div>
</body>
</html>
