<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Quick Traineer</title>

    <link rel="stylesheet" type="text/css" href="../styles/theme_train.css">
    <link rel="stylesheet" type="text/css" href="../styles/theme.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../scripts/script.js"></script>
</head>
<body>
    <div id="header">
        <h1 class="title">Quick Trainner </h1>
        <p class="text1">USUARIO, diseña el entrenamiento</p>
    </div >
        <div id="content">
          <form action="/entrenamientoPersonalizado.html" method="post">
            <div>
                <p class="text1">Modo de tiempo de reacción</p>
                <select name="Reaccion" id="reaccion" class="drop_menu">
                    <option class="option">Sencillo</option>
                    <option class="option">Complejo</option>
                </select>
            </div>
            <div>
                <p class="text1">Tiempo (Segundos)</p>
                <select name="Tiempo" id="tiempo" class="drop_menu">
                    <option class="option">30</option>
                    <option class="option">45</option>
                    <option class="option">60</option>
                    <option class="option">90</option>
                </select>
            </div>
            <div>
                <p class="text1">Módulos</p>
                <select name="Módulo" id="modulo" class="drop_menu">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
             </div>
                <div class="subcontent">
                    <a href="homepage.html"><button type="button" class="btn_return">Regresar</button></a>
                    <input type="submit" id="btn_train" onclick="startTrainning()" value="Iniciar">
                </div>
          </form>
        </div>
        <div id="footer">
            <ul>
              <li><a href="faq.html" class="bar_option">Preguntas frecuentes</a></li>
              <li><a href="contact.html" class="bar_option">Contáctanos</a></li>
              <li><a href="homepage.html" class="bar_option">Inicio</a></li>
            </ul>
            </div>
        </div>

</body>
</html>
