<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Traineer</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/theme.css">
</head>
<body>
      <div><form action="/logout"><button id="btn_logout">Log out</button></form></div>
    <div id="header">
        <h1 class="title">Quick Trainner</h1>
        <p class="text1">Comenzemos el entrenamiento, bienvenido USUARIO</p>
    </div >
        <div id="content">
            <div class="b"><a href="entrenamiento.html"><button class="button">Entrenamiento</button></a></div>
            <div class="b"><a href="games.html"><button class="button">Juegos</button></a></div>
            <div class="b"><a href="config.html"><button class="button">Configuración</button></a></div>

        </div>
        <div id="footer">
           <ul>
              <li><a href="faq.html" class="bar_option">Preguntas frecuentes</a></li>
              <li><a href="contact.html" class="bar_option">Contáctanos</a></li>
              <li><a href="homepage.html" class="bar_option">Inicio</a></li>
            </ul>
        </div>
</body>
</html>
