<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Quick Traineer</title>

    <link rel="stylesheet" type="text/css" href="../styles/theme_train.css">
    <link rel="stylesheet" type="text/css" href="../styles/theme.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../scripts/script.js"></script>
    <script type="text/javascript" src="../scripts/countdown.js"></script>
</head>
<body>
    <div id="header">
        <h1 class="title">Quick Trainner</h1>
        <p class="text1">USUARIO, diseña el entrenamiento</p>
    </div >
        <div id="content">
          <p id="timer"></p>
                <div id="backPanel" class="subcontent">

                </div>
        </div>
    <div id="footer">

    </div>
</body>
</html>
