.button_game {
  background: #009933;
  display: inline-block;
  margin: 5px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 26px;
  position: relative;
  border: solid #000000 3px;
  padding: 13px 40px 11px 40px;
}

.button_game:hover {
  background: #00cc00;
  text-decoration: none;
}

.instruccion {
  font-family: 'Helvetica', 'Verdana', sans-serif;
  text-shadow:-20px -20px 0 rgba(255,255,214,0);
  color:#000000;
  letter-spacing:2pt;
  word-spacing:6pt;
  font-size:11px;
  text-align:center;
  line-height:20px;
  padding: 0px 60px 30px;
}
