input[type=text],input[type=number],input[type=password]{
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    font-family: 'Helvetica', 'Verdana', sans-serif;
    padding-right:10px;
    width: 115px;
    display: inline-block;
    text-align: right;
}

input[type=submit], #btn_save {
  background: #3cb0fd;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 26px;
  position: relative;
  border: solid #000000 3px;
  padding: 13px 40px 11px 40px;
}

input[type=submit]:hover, #btn_save:hover {
  background: #33cc33;
  text-decoration: none;
}

/*COLORES CSS*/

/* Hide the browser's default radio button */
.control-group {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 30px;
  width: 200px;
  height: 100px;
  margin: 10px;
}

.radiobtn {
  display: none;
}
.buttons {
  margin-left: -40px;
  background: none;
}
.buttons .li_rdn {
  display: block;
}
.buttons .li_rdn label{
  padding-left: 30px;
  position: relative;
  left: -25px;
}
.buttons .li_rdn label:hover {
  cursor: pointer;
}
.buttons .li_rdn span {
  display: inline-block;
  position: relative;
  top: 5px;
  border: 2px solid #ccc;
  /*border-radius: 50%;*/
  width: 18px;
  height: 18px;
  background: #fff;
}
#rdbtn1:checked + #span_1::before{
  content: '';
  border: 2px solid #fff;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #0066ff;
}

#rdbtn2:checked + #span_2::before{
  content: '';
  border: 2px solid #fff;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ff3300;
}

#rdbtn3:checked + #span_3::before{
  content: '';
  border: 2px solid #fff;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #33cc33;
}
